:root{
  --blueSite: #1e6bb8;
  --greenSite: #159957;
  --greySite: #606c71;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container{

  padding: 30px;
  border-radius: 15px;
  background: linear-gradient(0deg, var(--greenSite), var(--blueSite));
}

.inputContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}

h1{
  color: white;
}

input{
  border: 0px solid;
  height: 50px;
  border-radius: 7px;
  font-size: 20px;
  padding-left: 10px;
  color: var(--greySite);
}

label{
  font-size: 22px;
  font-weight: 700;
  color: white
}